/* variable section */
:root {
  --main-color: #27374d;
  --sec-color: #526d82;
  --third-color: #9db2bf;
  --fourth-color: #dde6ed;
  --main-font: "Koulen", sans-serif;
  --sec-font: "Kite One", sans-serif;
}

/* Start component */

.main-image-style {
  width: 300px;
  height: 350px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 5px var(--third-color);
}
@media (max-width: 500px) {
  .main-image-style {
    width: auto;
    height: auto;
  }
}
@media (min-width: 500px) and (max-width: 991px) {
  .main-image-style {
    margin: auto;
  }
}
/* End component */

/* Start global rules */
* {
  -webkit-box-sizing: border-box; /* edit size and position of elements according to the border*/
  -moz-box-sizing: border-box; /* content-box:: according to content space  */
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--fourth-color);
  color: var(--main-color);
}
/* Start Container */
.container {
  padding-left: 15px;
  padding-right: 15px; /* why padding? in mobile screen-see it in inspect- the content stay full width, this padding for make some space in both sides */
  margin-left: auto;
  margin-right: auto; /* for center the container */
}

.container .description {
  text-align: center;
  margin-right: 10px;
}

.container .description h2 {
  color: var(--sec-color);
}
@media (max-width: 991px) {
  .container {
    justify-content: center;
    flex-direction: column;
  }
  .landing .container {
    flex-direction: column-reverse;
  }
}
/* Medium devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large devices */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* X-Large devices */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Container */
/* End global rules */

/* Start header */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  height: 60px;
  width: 60px;
}

.header .links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0px;
  margin: 0px;
}

.header .links a {
  text-decoration: none;
  border: 3px solid var(--third-color);
  color: var(--main-color);
  padding: 0px 10px;
  border-radius: 50px;
  font-size: 20px;
}
.header .links a:hover {
  border: 3px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--third-color);
  transition: 0.5s;
  box-shadow: none;
}
/* End header */

/* Start landing  */
.landing {
  padding: 20px;
  height: calc(100vh - 100px);
}
@media (max-width: 991px) {
  .landing {
    height: auto;
  }
}
.landing .container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.landing .description h1 {
  font-size: 50px;
}
.landing .description h2 {
  font-family: var(--sec-font);
  font-size: 25px;
  margin-bottom: 150px;
}
@media (max-width: 991px) {
  .landing .description h2 {
    margin-bottom: 50px;
  }
}
.landing .description a {
  text-decoration: none;
  padding: 0px 20px;
  background-color: var(--sec-color);
  color: var(--fourth-color);
  font-size: 30px;
  border-radius: 100px;
  box-shadow: 0px 5px 10px 5px var(--third-color);
}
@media (max-width: 991px) {
  .header .links li {
    display: none;
  }
}
/* @media (max-width: 500px) {
  .landing .description a {
    padding: 0px 5px;
    font-size: 15px;
  }(min-width: 500px) and
} */
@media (max-width: 991px) {
  .landing .description a {
    padding: 0px 10px;
    font-size: 25px;
  }
}

.landing .description a:hover {
  border: 3px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--third-color);
  transition: 0.5s;
  box-shadow: none;
}
/* End landing  */

/* Start about me  */
.about-me {
  padding: 20px;
}
.about-me .container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.about-me .description h1 {
  font-size: 50px;
}
.about-me .description h2 {
  font-family: var(--sec-font);
  font-size: 25px;
}
/* End about me  */

/* Start education  */
.education {
  padding: 20px;
}
.education .container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.education .description h1 {
  font-size: 50px;
}
.education .description h2 {
  font-family: var(--sec-font);
  font-size: 25px;
}

.education img {
  box-shadow: none;
}
/* End education  */

/* Start experience  */
.experience {
  padding: 20px;
}
.experience .container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.experience .description h1 {
  font-size: 50px;
}
.experience .description h2 {
  font-family: var(--sec-font);
  font-size: 25px;
}
/* End experience  */

/* Start projects  */
.projects {
  padding: 20px;
}
.projects .container {
  /* display: flex;
  justify-content: space-between; */
  padding: 50px;
}
.projects h1 {
  font-size: 50px;
  text-align: center;
}

.projects .project-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (max-width: 500px) {
  .projects .project-content {
    display: flex;
    flex-direction: column;
  }
}
.projects .project-content .card {
  background-color: #eee;
  text-align: center;
  border-radius: 25px;
}

.projects .project-content .card img {
  width: 100%;
  height: 200px;
}

.projects .project-content .card .info {
  padding: 20px;
}

.projects .project-content h3 {
  font-family: var(--sec-font);
  font-size: 25px;
  margin: 0;
}

.projects .project-content p {
  font-family: var(--sec-font);
}
/* End projects  */

/* Start contact me  */
.contact-me {
  padding: 20px;
}
.contact-me .container {
  text-align: center;
  padding: 50px;
}
.contact-me h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
.contact-me .info .label {
  font-family: var(--sec-font);
  font-size: 25px;
}
.contact-me .info .link {
  font-family: var(--sec-font);
  color: var(--sec-color);
  text-decoration: none;
  display: block;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 75px;
}
@media (max-width: 767px) {
  .contact-me .info .link {
    font-size: 20px;
  }
}
.contact-me .resume {
  font-size: 35px;
  font-family: var(--sec-font);
  color: var(--sec-color);
  margin-top: 20px;
}
@media (max-width: 767px) {
  .contact-me .resume {
    font-size: 20px;
  }
}
.contact-me .resume .download-btn {
  color: var(--main-color);
  font-weight: bolder;
}
/* End contact me  */

/* Start footer */
.footer {
  margin: 0px;
  padding: 50px;
  background-color: var(--sec-color);
  text-align: center;
  font-size: 25px;
  color: var(--fourth-color);
  font-family: var(--sec-font);
}

/* End footer */
